body {
  background-color: #F3F8FF;
}

.text-center {
  text-align: center;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas: 'header header' 'book login';
  max-height: 100vh;
}

header {
  grid-area: header;
  margin: 2rem auto auto 2rem;
  font-size: 30px;
}

.Logo {
  grid-area: book;
}

.Login {
  grid-area: login;
  margin: 50% 10% auto auto;
}

.ant-popover-content {
 background-color: #aaa;
}

.ant-popover-arrow {
  border-top-color: #aaa;
  border-right-color: #aaa;
  border-bottom-color: #aaa;
  border-left-color: #aaa;
}

.ant-btn .ant-btn-primary .ant-btn-lg .ant-input-search-button {
  background-color: #4951EC;
}


.ant-popover-inner-content{
  background-color: #aaa;
 }


Registration {
  width: 100%;
  position: absolute;
}

