body {
  background-color: #F3F8FF;
}

.text-center {
  text-align: center;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas: 'header header' 'book login';
  max-height: 100vh;
}

header {
  grid-area: header;
  margin: 2rem auto auto 2rem;
  font-size: 30px;
}

.Logo {
  grid-area: book;
}

.Login {
  grid-area: login;
  margin: 50% 10% auto auto;
}

Registration {
  width: 100%;
  position: absolute;
}

